.section {
  &__specialistAbout {
    padding-bottom: 150px;
    border-bottom: 2px solid #d3dde6;
    @include lg {
      padding-bottom: 50px;
    }
    @include sm {
      padding-bottom: 35px;
    }
  }
}
.specialistAbout {
  &__title {
    padding-bottom: 80px;
    @include lg {
      padding-bottom: 50px;
    }
    @include sm {
      padding-bottom: 35px;
    }
  }

  &__row {
    display: flex;
    border-radius: 400px 0px 0px 0px;
    background: #f9fafb;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @include lg {
      gap: 20px;
    }
    @include md {
      flex-wrap: wrap;
    }
    &.row-reverse {
      display: flex;
      flex-direction: row-reverse;
      border-radius: 0px 400px 0px 0px;
    }
  }

  &__picture {
    flex: 0 1 30%;
    @media (max-width: 1100px) {
      flex: 0 1 40%;
    }
    @include md {
      flex: 1 1 100%;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(3px 3px 5px rgba(75, 104, 130, 0.17));
    border-radius: 400px 0px 0px 0px;
    &.image-reverse {
      border-radius: 0px 400px 0px 0px;
    }
    @media (max-width: 1400px) {
      max-width: 450px;
    }
    @media (max-width: 1100px) {
      max-width: 100%;
    }
    @include md {
      width: 100%;
      height: 480px;
    }
    @include xs {
      height: 300px;
    }
  }

  &__content {
    flex: 0 1 70%;
    padding: 24px 25px 41px 71px;
    @media (max-width: 1400px) {
      padding: 15px 15px 41px 50px;
    }
    @media (max-width: 1100px) {
      padding: 15px 15px 41px 20px;
      flex: 0 1 60%;
    }
    @include lg {
      padding: 15px 15px 15px 0px;
    }
    @include md {
      flex: 1 1 100%;
      padding: 30px 15px 30px 15px;
    }
  }
}

.content-specialistAbout {
  &__name {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 183%;
    color: $primary;
    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: 1400px) {
        margin-bottom: 20px;
      }
    }
    @include lg {
      font-size: 22px;
      line-height: 110%;
    }
  }

  &__icons {
    display: flex;
    gap: 35px;
    &:not(:last-child) {
      margin-bottom: 25px;
      @include lg {
        margin-bottom: 15px;
      }
    }
    @include md {
      justify-content: center;
    }
    @include xs {
      gap: 10px;
    }
  }

  &__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include lg {
      width: 30px;
      height: 30px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: $secondary;
    position: relative;
    padding-left: 62px;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      width: 45px;
      height: 3px;
      background-color: #d3dde6;
      @include lg {
        width: 25px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 50px;
      @media (max-width: 1400px) {
        margin-bottom: 25px;
      }
    }
    @media (max-width: 1400px) {
      font-size: 18px;
      line-height: 130%;
    }
    @include lg {
      font-size: 16px;
      line-height: 110%;
      padding-left: 40px;
    }
  }

  &__icon-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    @include lg {
      font-size: 16px;
    }
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    &:not(:last-child) {
      margin-bottom: 50px;
      @media (max-width: 1400px) {
        margin-bottom: 20px;
      }
    }
    @include xs {
      gap: 10px;
    }
  }

  &__description-button {
    background-color: transparent;
    padding: 0 25px;
    min-height: 56px;
    border: 2px solid #536779;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 55px;
    color: #536779;
    transition: 0.2s ease;
    &:hover {
      background-color: #f79781;
      border: 2px solid #f79781;
      color: #fff;
    }
    &._active {
      background-color: $colorOrange;
      border: 2px solid $colorOrange;
      color: $colorWhite;
    }
    @media (max-width: 1100px) {
      line-height: 24px;
      min-height: 45px;
    }
    @include xs {
      padding: 0px 20px;
      min-height: 40px;
    }
  }

  &__button {
    @include md {
      display: flex;
      justify-content: center;
    }
  }

  &__btn {
    @media (max-width: 1100px) {
      min-height: 70px;
      font-size: 20px;
    }
    @include xs {
      width: 100%;
      justify-content: center;
    }
  }
}
